@{
    ViewData["Title"] = "A propos";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>



    <div class="container">
        <p class="text-justify">
            R_AZURE est l''agence de voyage en Europe qui répondre scrupuleusement aux attentes du voyageur d'aujourd'hui.
            Nous offrons à nos clients l'accès à plus d'une centaine de compagnies aériennes.
            R_AZURE possède des sites Web de voyage dans les pays suivants : Royaume-Uni, France, Allemagne, Italie, Espagne, Autriche, Belgique, Portugal, Pologne Suisse, Suède, Norvège, Danemark, Finlande et Australie.
        </p>
        <p class="text-justify">

            <strong>Prix </strong>: vérifié quotidiennement pour être les plus compétitifs.<br />
            <strong>Le choix </strong>: choix de réservation parmi des centaines de compagnies aériennes.<br />
            <strong>Facilité d'utilisation et de réservation.</strong>
        </p>
        <p class="text-justify">
            Vous souhaitez modifier votre vol ou avez des questions relatives à votre réservation ?
            Chez R_AZURE nous travaillons pour que votre voyage se déroule dans les meilleurs conditions.
            Nous sommes à votre disposition si vous avez besoin d'assistance.
        </p>

        <a class="btn btn-primary" asp-controller="Home" asp-action="Contact" role="button">Contactez nous</a>
</div>

</div>

