@{
    ViewData["Title"] = "RESERVEZ VOTRE VOLS AU MEILLEURS PRIX";
}

<div class="text-center">
    <div class="container">
        <h1><span class="badge badge-primary">@ViewData["Title"]</span></h1>
    </div>
</div>
